# ignore all local env files
**/.env

# Python caches
__pycache__/
*.py[cod]

# Virtualenv folders
*/bin/
*/include/
*/lib/
*/pyvenv.cfg

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Binaries / outputs
*.jar
archives/
spark_job/checkpoints/
llm-pipeline/dataPipeline/output/

# Secrets & configs
inventory.ini
setup_ssh_keys.sh

# Logs
*.log
