[Unit]
Description=Service for {{ app_service }}
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ app_path }}
ExecStart=/bin/bash -lc 'cd {{ app_path }} && {{ start_command }}'
ExecStop=/bin/kill $MAINPID
Restart=on-failure
Environment=PATH={{ app_path }}/node_modules/.bin:/usr/local/bin:/usr/bin

[Install]
WantedBy=multi-user.target
